.contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  width: 45vw;
  height: 80%;
  margin-right: 10%;
}

h2{
  color: #333333;
  font-size: 18px;
  font-weight: 630;
  font-family: 'Montserrat', sans-serif;
}

label{
  color: #4f4f4f;
  font-weight: 600;
}


.icon-contact {
  color: #828282;
  margin-left: -20px;
  margin-right: 10px;
}

.input-contact {
  background-position: 4px center;
  background-size: 20px;
  display: flex;
  align-items: center;
  width: 70%;
  padding-left: 28px;
  height: 50px;
  border: 1px solid #828282;
  border-radius: 12px;
  margin-bottom: 10px;
}
.input-contact input {
  width: 100%;
  font-size: 0.9em;
  border: none;
}
.input-contact input:focus {
  outline: none;
}

.input-country {
  background-position: 4px center;
  background-size: 20px;
  display: flex;
  align-items: center;
  width: 10vw;
  padding-left: 28px;
  height: 50px;
  border: 1px solid #828282;
  border-radius: 12px;
  margin-right: 20px;
}
.input-country input {
  width: 100%;
  font-size: 0.9em;
  border: none;
}
.input-country input:focus {
  outline: none;
}

.div-country {
  display: flex;
}

.button-continue {
  float: right;
  margin-right: 25%;
  margin-top: 30px;
  width: 40%;
  height: 50px;
  border-radius: 12px;
  background-color: #f2994a;
  color: white;
}

@media (max-width: 768px) {


  .text-contact-info{
    margin-top: 5vh;
  }

  .contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    width: 90vw;
    height: 80%;
    margin-right: 0%;
  }

  .input-contact {
    width: 90%;
  }

  .input-country {
    background-position: 4px center;
    background-size: 20px;
    display: flex;
    align-items: center;
    width: 80%;
    padding-left: 28px;
    height: 50px;
    border: 1px solid #828282;
    border-radius: 12px;
    margin-right: 20px;
  }

}
