.products {
  background-color: #F2F2F2;
  width: 24rem;
  height: 31rem;
  border-radius: 13px;
  display: flex;
  flex-direction: column;
}

.products-div {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 20%;
}

.data-products {
  margin-left: 5%;
}

.data-products-info {
  margin-top: -10%;
}

.product-tag {
  display: flex;
}

.price-div {
  display: flex;
  margin-top: -20%;
}

.img-products {
  width: 6.9vw;
  height: 14.6vh;
  border-radius: 13px;
}

.final-price {
  margin-right: 10px;
  color: #f2a45f;
  font-weight: bold;
}

.div-amount {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 33%;
  border-radius: 12px;
  border: 1px solid black;
}

.icon-div{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e0e0e0;
  border-radius: 5px;
}

.icon{
  font-size: 20px;
  color: #b1b1b1;
}

.purchase-data-div{
  
}

.purchase-data {
  display: flex;
  align-items: center;
  height: 8%;
  border-top: 1px solid #BDBDBD;
  position: relative;
}

.text-data{
  
}

.price{
  position: absolute;
  right: 0; /* Posiciona el elemento a la izquierda */
}
