.products {
  background-color: #f2f2f2;
  width: 50%;
  height: 45%;
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  margin-top: 4%;
}

.products-div {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 15%;
  margin-bottom: 15%;
}

.product-tag {
  display: flex;
}

.data-products {
  margin-left: 5%;
  width: 60%;
}

.data-products-info {
  width: 130%;
  margin-top: -10%;
}

.div-img{
  margin-bottom: 10%;
}

.price-div {
  display: flex;
  margin-top: -15%;
}

.img-products {
  width: 100%;
  height: 14.6vh;
  border-radius: 13px;
}

.product-name{
  font-weight: bold;
  margin-bottom: 5px;
  color: #4e5150;
}

.final-price {
  margin-right: 10px;
  color: #f2a45f;
  font-weight: bold;
  font-size: 1vw;
}

.price-no-offer{
  text-decoration: line-through;
  color: #4e5150;
  font-weight: 600;
  font-size: 1vw;

}

.div-amount {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70%;
  height: 28%;
  border-radius: 12px;
  border: 1px solid #828282;
  cursor: pointer;
  margin-top: 0%;
}

.icon-div{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e0e0e0;
  border-radius: 5px;
  width: 20%;
  height: 50%;
}

.icon{
  font-size: 20px;
  color: #b1b1b1;
}

.total-price-div{
  margin-top: 10%;
}

.purchase-data {
  display: flex;
  align-items: center;
  border-top: 1px solid #BDBDBD;
  margin-bottom: 10px;
  position: relative;
}

.text-data{
  color: #454444;
  margin-top: 5px;
  margin-bottom: 0px;
}

.price{
  position: absolute;
  font-weight: bold;
  color: #454444;
  right: 0; 
}

@media (max-width: 770px) {

  .products {
    background-color: #f2f2f2;
    width: 90vw;
    height: 45%;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    margin-top: 9%;
  }

  .data-products {
    margin-left: 5%;
    width: 60%;
  }
  
  .data-products-info {
    width: 130%;
    margin-top: -18%;
  }

  .price-div {
    display: flex;
    margin-top: -8%;
  }

  .img-products {
    width: 29vw;
    height: 23vh;
  }

  .product-name{
    font-size: 4vw;
  }

  .final-price {
    font-size: 4vw;
  }
  
  .price-no-offer{
    font-size: 4vw;
  }

  .div-amount {
    width: 100%;
    height: 28%;
  }

  .product-amount{
    font-size: 4vw;
  }

  .text-data{
    font-size: 4vw;
  }
  
  .price{
    font-size: 4vw;
  }

}
